@charset "utf-8";

/* 
	기본정보
	- 생성일 : 2024-01-10
	- 파일명 : components.css
	- 포함내용 : 팝업, 폼, 모듈, 엘리먼트 스타일 정의
*/


@import url('components/popup.css'); /* 팝업 스타일 정의 - 모달, 바텀시트, 팝오버, 툴팁 */
@import url('components/form.css'); /* 데이터 관련 요소 스타일 정의 - 버튼, 텍스트필드, 캘린더, 셀렉트박스, 텍스트에어리어, 라디오버튼, 체크박스, 칩, 스위치, 토글라디오버튼 */
@import url('components/module.css'); /* 그룹화 된 구성 요소 스타일 정의 - 공지사항, 박스, 탭, 아코디언, 등록폼, 폼도움말, 검색, 게시판형목록, 카드형목록, 테이블, 요소분할, 페이지진행상황바(⚠) */
@import url('components/element.css'); /* 단일 요소 스타일 정의 - 스크롤바, 아이콘, 뱃지, 태그, 스텝, 링크, 헤드라인, 제목, 텍스트, 폰트, 정렬, 사이즈, 여백 */