@charset "utf-8";

/*
	기본정보
	- 생성일 : 2024-01-10
	- 파일명 : fonts.css
	- 포함내용 : Pretendard Web Fonts 스타일 정의
*/

/* primary - Pretendard Web Fonts */
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  font-display: block;
  src: url('font/Pretendard-Light.subset.woff2') format('woff2'),
    url('font/Pretendard-Light.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  font-display: block;
  src: url('font/Pretendard-Regular.subset.woff2') format('woff2'),
    url('font/Pretendard-Regular.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  font-display: block;
  src: url('font/Pretendard-Medium.subset.woff2') format('woff2'),
    url('font/Pretendard-Medium.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-style: normal;
  font-display: block;
  src: url('font/Pretendard-SemiBold.subset.woff2') format('woff2'),
    url('font/Pretendard-SemiBold.subset.woff') format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-style: normal;
  font-display: block;
  src: url('font/Pretendard-Bold.subset.woff2') format('woff2'),
    url('font/Pretendard-Bold.subset.woff') format('woff');
}

@font-face {
  font-family: 'OneShinhan';
  font-weight: 300;
  font-style: normal;
  font-display: block;
  src: url('./font/OneShinhanLight.woff') format('woff'),
    url('./font/OneShinhanLight.eot');
}