@charset "utf-8";
/* Viewport 가변단위 */
/* 기준값 = 1920(vw) x 936(vh) */
* {
    background-color: transparent !important;
}
.maxw1440 {
    max-width: 1440px;
    /* (1440/1920)*100 = 75 */
    max-width: 75vw;
    margin: 0 auto;
}
body, html {
    font-size: 16px;
    /* (16/936)*100 = 1.7094017094017095 */
    font-size: 1.7vh;
    font-family: 'Noto Sans KR', sans-serif;
}
#wrap {
    /* 기기 화면에서 보는 가로세로의 100%를 전부 사용 */
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
}
/* Video Background */
.video_wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
.video_wrapper video {
    width: 100vw;
    height: 100vh;
    /* 가로 세로를 강제로 : 꽉채움 */
    object-fit: fill;
}
/* Main Text */
.video_text {
    /* 부모요소인 wrap을 기준으로 위치 고정*/
    position: absolute;
    /* 48/19.2=2.5 */
    left: 2.5vw;
    /* 240/9.36=25.641026 */
    bottom: 26vh;
}
.video_text h2 {
    font-size: 72px;
    /* 72/9.36=7.692308 */
    font-size: 7.7vh;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    /* 자간(글자 사이 공백)속성 음수라 글자사이 간격 좁아짐 */
    letter-spacing: -2px;
}
.video_text p {
    font-size: 21px;
    /* 21/9.36=2.24359 */
    font-size: 2.24vh;
    color: #fff;
    font-weight: 300;
    margin-top: 16px;
    /* 16/9.36=1.709402 */
    margin-top: 1.7vh;
    /* 들여쓰기 설정 */
    text-indent: .2em;
}

/* Video Control Button */
#car_btn {
    position: absolute;
    left: 48px;
    /* 46/19.2=2.395833 */
    left: 2.4vw;
    bottom: 200px;
    /* 200/9.36=21.367521 */
    bottom: 21.4vh;
    z-index: 10;
}
#car_btn i {
    font-size: 24px;
    /* 24/9.36=2.564103 */
    font-size: 2.56vh;
    color: #fff;
    cursor: pointer;
}
#car_sound {
    position: absolute;
    left: 96px;
    /* 96/19.2=5 */
    left: 5vw;
    bottom: 200px;
    /* 200/9.36=21.367521 */
    bottom: 21.4vh;
    z-index: 10;
}
#car_sound i {
    font-size: 24px;
    /* 24/9.36=2.564103 */
    font-size: 2.56vh;
    color: #fff;
    cursor: pointer;
}

/* Header */
header {
    color: #fff;
    /* 로고/gnb/snb 정렬 */
    display: flex;
    justify-content: space-between;
    padding-top: 36px;
    /* 36/9.36=3.846154 */
    padding-top: 3.8vh;
    text-align: center;
}
header h1 {
    width: 160px;
    /* 160/19.2=8.333333 */
    width: 8.3vw;
}
.gnb_wrap {
    font-size: 20px;
    /* 20/9.36=2.136752 */
    font-size: 2.13vh;
    font-weight: 500;
}
.gnb {
    /* gnb의 li flex배치 */
    display: flex;
}
.gnb li {
    /* 49/19.2=2.552083 */
    padding: 0 2.55vw;
}
.snb_wrap {
    font-size: 14px;
    /* 14/19.2=0.729167 */
    font-size: 0.73vh;
}
.snb {
    /* snb의 li flext 배치 */
    display: flex;
}
.snb li {
    padding: 0 8px;
}
/* li의 마지막 ENB부분 설정 */
.snb li:last-child {
    border: 1px solid #fff;
    font-size: 12px;
    /* 12/16=0.75 */
    font-size: 0.75rem;
    padding: 4px 12px;
    margin-top: -4px;
    /* -4/9.36=-0.42735 */
    margin-top: -0.4vh;
}
.snb li a {
    font-weight: 300;
}
img {
    width: 100px;
    /* 100/19.2=5.208333 */
    width: 5.2vw;
}

/* Footer */
/* h3 / fnb / sns flex배치 */
footer {
    background-color: #3e3e3e !important;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    color: #737373;
    padding: 30px 72px;
    position: fixed;
    left: 0;
    bottom: 0;
}
footer h3 {
    width: 30px;
    /* 30/19.2=1.5625 */
    width: 1.6vw;
}
footer>nav {
    font-size: 14px;
    /* 14/16=0.875 */
    font-size: 0.875rem;
    margin-right: 200px;
    /* 200/19.2=10.416667 */
    margin-right: 10.4vw;
}
/* fnb의 li flex배치 */
.fnb {
    display: flex;
}
.fnb li {
    margin-right: 30px;
    /* 30/19.2=1.5625 */
    margin-right: 1.6vw;
}
/* 가상 요소 / 요소 뒤에 보이지 않는 새로운 박스 하나를 만들어
    디자인 확장 시 사용 */
.fnb li::after {
    content: "|";
    display: inline-block;
    padding-left: 32px;
    /* 32/19.2=1.666667 */
    padding-left: 1.66vw;
}
.copyright {
    font-size: 13px;
    /* 13/16=0.8125 */
    font-size: 0.8125rem;
    margin-top: 32px;
    /* 32/9.36=3.418803 */
    margin-top: 3.4vh;
    line-height: 1.5;
}
.copyright>span {
    font-size: 12px;
    /* 12/16=0.75 */
    font-size: 0.75rem;
}
.sns {
    display: flex;
}
.sns li {
    background-color: #fff;
    margin-left: 24px;
    /* 24/19.2=1.25 */
    margin-left: 1.25vw;
}
.sns li a {
    font-size: 24px;
    /* 24/16=1.5 */
    font-size: 1.5rem;
}


