@charset "utf-8";
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* Safe Area */
.w1280 {
    width: 1280px;
    margin: 0 auto;
}
#wrap {
    max-width: 1920px;
    margin: 0 auto;
}
/* Header */
header {
    height: 700px;
    background-image: url(../images/slide_back_img.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding-top: 24px;
}
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* Logo, GNB */
.logo_gnb_left {
    width: 1170px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.logo {
    width: 110px;
}
/* header nav {} */
header .gnb {
    color: #fff;
    font-weight: 400;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
header .gnb li {
    margin-top: 24px;
    margin-left: 24px;
}
header .gnb li a:hover {
    color: #fc3;
}

/* Search Btn */
.search {
    width: 110px;
    margin-top: 24px;
    text-align: right;
}

/* ImageText Deco */
.img_deco {
    padding-left: 20px;
}
.img_deco h2 {
    font-size: 72px;
    color: #fff;
    font-weight: 700;
    margin-top: 230px;
    line-height: 92px;
}
.img_deco p {
    font-size: 14px;
    color: #fff;
}
.img_deco button {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #fc3;
    border: none;
    margin-top: 20px;
}
.img_deco button a {
    font-size: 14px;
    font-weight: 600;
}

/* Contents */
/* Section CardBox */
.card_box {
    background-color: #dcdcdc;
}
.card_box_all {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.card_box_view {
    width: 400px;
    height: 500px;
    background-color: #fff;
    margin-right: 40px;
    /* 포지션 3단 CardBox 겹치기 */
    position: relative;
    left: 0;
    top: -80px;
    z-index: 1;
}
.card_box_info {
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
}
.card_box_info h2 {
    font-size: 12px;
    color: #807f7f;
    font-weight: 400;
}
.card_box_info h2>span {
    color: #373636;
    font-weight: 500;
}
.card_box_info p {
    font-size: 18px;
    color: #807f7f;
    font-weight: 600;
}
.card_box_info p>img {
    vertical-align: middle;
    margin-top: -4px;
}
/* Section About Us */
.about_us {
    padding: 100px 0 140px;
}
.about_us_text {
    text-align: center;
    color: #807f7f;
    line-height: 1.5;
    margin-bottom: 60px;
}
.about_us .line {
    width: 110px;
    height: 2px;
    border-bottom: 1px solid #fc3;
    /* 데코라인 가운데 오게 하기 */
    margin: 0 auto;
}
.about_us_tab {
    margin-top: 60px;
}
/* Article MOV */
.mov {
    width: 100%;
    height: 560px;
    background-image: url(../images/mov_back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    /* 포지션 위치기준값 */
    position: relative;
}
#mont_video {
    width: 1060px;
    height: 560px;
    /* 포시션 */
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    /* 시각적 중앙으로 이동 */
    transform: translateX(-50%);
}
/* 폰트어썸 플레이 버튼 */
#mont_btn {
    /* 포지션 */
    position: absolute;
    left: 50%;
    top: 90%;
    z-index: 9999;
    transform: translateX(-50%);
}
#mont_btn i {
    font-size: 96px;
    color: rgba(255,255,255,1);
}
#mont_btn i:hover {
    color: rgba(255,255,255,0.8);
}
/* Section Why */
.why {
    padding-top: 100px;
    padding-top: 380px;
    padding-bottom: 160px;
}
/* Section FAQ */
.faq_saying {
    background-color: #dcdcdc;
    padding: 70px 0 130px;
}
/* Section Banner */
.banner {
    background-color: #fc3;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding-top: 100px;
}
/* Footer Logo, SNS */
.footer_logo {
    width: 510px;
}
.footer_logo dt {
    margin-bottom: 24px;
}
.footer_logo dd {
    font-size: 14px;
    color: #e1e1e1;
    line-height: 32px;
    margin-bottom: 32px;
}
.footer_logo .sns {
    display: inline-block;
    margin-right: 20px;
}
.footer_logo .sns i:hover{
    color: #fc3;
}

/* Footer Services */
.footer_services {
    width: 330px;
}
.footer_services dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer_services dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer_services dd a:hover {
    color: #fc3;
}
/* Footer Assistance */
.footer_assistance {
    width: 330px;
}
.footer_assistance dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer_assistance dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer_assistance dd a:hover {
    color: #fc3;
}
/* Footer About */
.footer_about dt {
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
}
.footer_about dd {
    font-size: 14px;
    color: #c7c4c4;
    font-weight: 400;
    margin-bottom: 20px;
}
.footer_about dd a:hover {
    color: #fc3;
}

/* Copyright */
.copyright {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 32px;
}
.copyright_line {
    width: 100%;
    border-bottom: 1px solid #fff;
    margin-bottom: 32px;
}

/* 푸터 플렉스 */
.footer_flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

/* 추가 폰트어썸 sns */
.sns i {
    font-size: 30px;
    color: #fff;
}