@charset "utf-8";
body {
    font-family: 'Noto Sans KR', sans-serif;
}
/* Safe Area */
.w1280 {
    width: 1280px;
    margin: 0 auto;
}
#wrap {
    max-width: 1920px;
    margin: 0 auto;
}
/* Header */
header{
    background-image: url(../images/slide_back_img.png);
    height: 700px;
}
header ul li{
    color: #fff;
}
header ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.logo{}
/* .headertop{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
} */