@charset "utf-8";
body{
    background-color: #f2f2f2;
}
#wrap{
    width: 1000px;
    margin: 5% auto;
    text-align: center;
    background-color: #EBECEE;
    padding: 20px 80px;
}
#wrap header h1{
    font-size: 50px;
    font-weight: bold;
    border: 1px solid rgba(201, 191, 191, 0.2);
    box-shadow: 0 0 0.2px;
    border-radius: 3px;
    color: rgb(201, 51, 51);
}
#wrap header h1+p{
    color: rgb(201, 51, 51);
    font-size: 12px;
}
section{
    text-align-last: left;
}
/* .info{
} */
section h2{
    height: 80px;
    border-bottom: 1px solid rgba(201, 191, 191, 0.5);
    text-align: left;
    line-height: 80px;
    font-weight: bold;
    color: rgb(201, 51, 51);
    font-size: 18px;
    margin: 40px auto;
}
dl{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
dt{
    font-weight: bold;
    width: 10%;
    height: 30px;
    line-height: 30px;
}
dd{
    width: 90%;
    height: 30px;
    line-height: 30px;
}
.spec dt{
    width: 15%;
}
.spec dd{
    width: 85%;
}
.hobby{
    display: flex;
    flex-flow: row nowrap;
}
.project li a{
    line-height: 25px;
}
footer{
    padding: 30px;
    color: rgb(177, 16, 65);
}
