@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');

.roboto{font-family: "Roboto", sans-serif;}
.oswald{font-family: "Oswald", sans-serif;}
.notoserif{font-family: "Noto Serif", serif;}
.montserrat{font-family: "Montserrat", sans-serif;}
.notosans{font-family: "Noto Sans", sans-serif;}
.notosansmono{font-family: "Noto Sans Mono", monospace;}
.storyscript{font-family: "Story Script", sans-serif;}
.libertinusserif{font-family: "Libertinus Serif Display", system-ui;}
.opensans{font-family: "Open Sans", sans-serif;}
.ubuntu{font-family: "Ubuntu", sans-serif;}
.worksans{font-family: "Work Sans", sans-serif;}
.bebasneue{font-family: "Bebas Neue", sans-serif;}
.prompt{font-family: "Prompt", sans-serif;}
.saria{font-family: "Saira", sans-serif;}
.josefinsans{font-family: "Josefin Sans", sans-serif;}
.dosis{font-family: "Dosis", sans-serif;}
.anton{font-family: "Anton", sans-serif;}
.mukta{font-family: "Mukta", sans-serif;}
.publicsans{font-family: "Public Sans", sans-serif;}
.exo{font-family: "Exo 2", sans-serif;}
.bungee{font-family: "Bungee", sans-serif;}
.space{font-family: "Space Grotesk", sans-serif;}
.lexend{font-family: "Lexend", sans-serif;}
.urbanist{font-family: "Urbanist", sans-serif;}
.caveat{font-family: "Caveat", cursive;}

.notosanskr{font-family: "Noto Sans KR", sans-serif;}
.nanumpenscript{font-family: "Nanum Pen Script", cursive;}
.notoserifkr{font-family: "Noto Serif KR", serif;}
.nanumgothic{font-family: "Nanum Gothic", sans-serif;}
.nanummyeongjo{font-family: "Nanum Myeongjo", serif;}
.nanumbrushscript{font-family: "Nanum Brush Script", cursive;}
.blackhansans{font-family: "Black Han Sans", sans-serif;}
.dohyeon{font-family: "Do Hyeon", sans-serif;}
.jua{font-family: "Jua", sans-serif;}
.dongle{font-family: "Dongle", sans-serif;}
.hahmlet{font-family: "Hahmlet", serif;}
.sunflower{font-family: "Sunflower", sans-serif;}
.gamjaflower{font-family: "Gamja Flower", sans-serif;}
.eastseadokdo{font-family: "East Sea Dokdo", sans-serif;}
.yeonsung{font-family: "Yeon Sung", system-ui;}
.poorstory{font-family: "Poor Story", system-ui;}
.stylish{font-family: "Stylish", sans-serif;}
.gowundodum{font-family: "Gowun Dodum", sans-serif;}
.gowunbatang{font-family: "Gowun Batang", serif;}
.himelody{font-family: "Hi Melody", sans-serif;}