@charset "utf-8";
html {
    font-size: 62.5%;
}
/* Header */
header {
    height: 44px;
    background: #323232;
    padding: 0 14px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
/* Hamberger */
.ham {
    width: 16px;
    height: 44px;
    padding: 20px 0 18px;
}
.ham span {
    display: block;
    width: 100%;
    height: 2px;
    background: #999;
}
.ham span:nth-child(1) {
    margin-bottom: 4px;
}
/* Hamberger 메뉴 효과 */
input[id="menuicon"] {
    display: none;
}
input[id="menuicon"]+label {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 44px;
    padding: 20px 0 18px;
    position: relative;
    z-index: 1001;
}
input[id="menuicon"]+label span {
    display: block;
    width: 100%;
    height: 2px;
    background: #999;
    position: absolute;
    z-index: 1001;
    transition: all 0.3s;
}
input[id="menuicon"]+label span:nth-child(1) {
    top: 40%;
}
input[id="menuicon"]+label span:nth-child(2) {
    bottom: 40%;
}
/* 클릭시 X자 만들기 */
input[id="menuicon"]:checked +label>span:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
}
input[id="menuicon"]:checked +label>span:nth-child(2) {
    bottom: 50%;
    transform: translateY(50%) rotate(-45deg);
}

/* Mobile GNB */
.mobile_gnb {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    background-color: #000;
    position: absolute;
    left: 0;
    top: 44px;
    z-index: 100;
}
.mobile_gnb .gnb {
    width: 98%;
    font-size: 1.2rem;
    color: #ccc;
    margin: 0 auto;
}
.mobile_gnb .gnb li {
    width: 100%;
    font-size: 1.4rem;
    color: #c3c3c3;
    font-weight: 500;
    padding: 12px 0;
}
.mobile_gnb .gnb li:first-child {
    padding: 14px 0;
    border-bottom: 1px solid #424242;
}
.mobile_gnb .gnb li input {
    width: 100%;
    height: 30px;
    display: inline-block;
    background: #1e1c1f;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 8px 6px;
    color: #606164;
}
input::placeholder {
    color: #606164;
}
.mobile_gnb .gnb li:first-child ~ li {
    width: 90%;
    padding: 12px 0;
    border-bottom: 1px solid #424242;
    margin: 0 auto;
}
/* 검색아이콘 배경이미지 */
.mobile_gnb .gnb li input {
    background-image: url(../images/magnity2.png);
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 96%;
    cursor: pointer;
}
/* Bag */
.bag {
    width: 16px;
    height: 44px;
}

/* 햄버거 메뉴 클릭시 GNB메뉴 슬라이딩 효과 */
nav[class="mobile_gnb"] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%;
    top: 44px;
    z-index: 100;
    transition: all 0.3s;
}
input[id="menuicon"]:checked +label+nav {
    left: 0;
}

/* Contents */
/* Contents 공통 CSS*/
/* Notice */
.notice{
    height: 56px;
    line-height: 1.4;
    background: #f5f5f7;
    padding: 13px 0;
}
.notice h4{
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
}
.notice h4 span{
    color: #3b70ca;
    font-weight: 700;
}
.common_content h2{
    font-size: 3.2rem;
    font-weight: 700;
    color: #1d1d1f;
}
.common_content h3{
    font-size: 1.9rem;
    font-weight: 400;
    color: #2e2e30;
    margin: 12px 0 16px;
}
.common_content p {
    font-size: 1.4rem;
    font-weight: 600;
    color: #8f8f94;
    line-height: 1.6;
    margin-bottom: 18px;
}
.common_content button{
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 700;
    color: #3b70ca;
    margin: 0 14px;
}
.common_content button::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding-left: 4px;
}
/* a. iPhone16 Section */
.iphone16{
    height: 456px;
    background-image: url(../images/iphone_12bg.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: rgb(251, 251, 253);
}
/* b. iPhone16 Pro Section */
.iphone16pro{
    height: 456px;
    background: url(../images/iphone_12_pro.jpeg) no-repeat center top;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: #000;
    margin-bottom: 12px;
}
.iphone16pro h2{
    color: #fff;
}
.iphone16pro h3{
    color: #f5f5f7;
}
.iphone16pro p{
    color: #86868b;
}
/* c. iPad Section */
.ipadpro{
    height: 456px;
    background: url(../images/ipad_pro.png) no-repeat center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: #000;
    margin-bottom: 12px;
}
.ipadpro h2{
    color: #fff;
}
.ipadpro h3{
    color: #f5f5f7;
}
.ipadpro p{
    color: #86868b;
}
/* iMac Section */
.imac{
    height: 456px;
    background: url(../images/imac.png) no-repeat center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: rgb(251, 251, 253);
    margin-bottom: 12px; 
}
/* e. Watch Section */
.watch{
    height: 456px;
    background: url(../images/watch_series_6.png) no-repeat center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: #000;
    margin-bottom: 12px; 
}
.watch h2{
    color: #fff;
}
.watch h2 img{
    width: 24px;
    vertical-align: middle;
}
.watch h2 p {
    font-size: 1.1rem;
    color: red;
    letter-spacing: 2px;
    margin-top: -16px;
}
.watch h3{
    color: #f5f5f7;
}
/* f. MacBook Air Section */
.macbookair{
    height: 456px;
    background: url(../images/macbook_air.png) no-repeat center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: #000;
    margin-bottom: 12px; 
}
.macbookair h2{
    color: #fff;
}
.macbookair h3{
    color: #f5f5f7;
}
/* g. Arcade Section */
.arcade{
    height: 456px;
    background: url(../images/arcade.png) no-repeat center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: rgb(251, 251, 253);
    margin-bottom: 12px; 
}
.arcade img{
    width: 24px;
    vertical-align: middle;
}
/* h. AirTag Section */
.airtag{
    height: 456px;
    background: url(../images/airtagbg.png) no-repeat center bottom;
    background-size: 150%;
    text-align: center;
    padding: 36px 0;
    background-color: rgb(251, 251, 253);
    margin-bottom: 12px; 
}
/* i. AirPods Pro Section */
.airpodpro{
    height: 456px;
    background: url(../images/airpodbg.png) no-repeat center bottom;
    background-size: 50%;
    text-align: center;
    padding: 36px 0;
    background-color: #000;
    margin-bottom: 12px; 
}
.airpodpro h2{
    color: #fff;
}
.airpodpro h3{
    color: #f5f5f7;
}
/* Footer */
/* Bread_crumbs */
.bread_crumbs{
    display: flex;
    height: 72px;
    line-height: 72px;
    border-bottom: 1px solid #dbdbdd;
}
.bread_crumbs dt{
    font-size: 1.4rem;
    font-weight: 700;
    color: #313131;
    margin-right: 16px;
}
.bread_crumbs img{
    vertical-align: middle;
}
.bread_crumbs dt::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;    
}
.bread_crumbs dd{
    font-size: 1.1rem;
    margin-right: 16px;
}
.bread_crumbs dd:nth-last-child(2)::after{
    content: "\f054";
    font-family: "Font Awesome 5 Free";
    font-weight: 900; 
    padding-left: 8px;
}
/* Footer Menu */
.footer_menu dt{
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    padding: 13px 0 12px;
    border-bottom: 1px solid #d2d2d7;
    cursor: pointer;
}
.footer_menu dt{
    background-image: url(../images/mark_plus.png);
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 32px 32px;
}
.footer_sub{
    padding: 16px 0;
}

/* Footer Text */
.footer_text{
    font-size: 1.1rem;
    line-height: 1.3;
    color: #86868b;
    padding: 20px 0;
}
.conciege{
    margin-bottom: 24px;
}
.conciege span{
    color: #2a64c6;
}
.copyright{
    margin-bottom: 12px;
}
.footer_text nav{
    font-size: 1.2rem;
    color: #515154;
    margin-bottom: 12px;
}
.footer_text nav ul{
    display: flex;
    flex-flow: row wrap;
    position: relative;
}
.footer_text nav ul li {
    padding: 0 8px 0 0;
}

.footer_text nav ul li::after{
    content: "|";
    display: inline-block;
    position: absolute;
}
/* Footer 스크립트 구현 CSS*/
.footer_sub{
    /* 로딩 시 서브 메뉴 가리기 */
    display: none;
}
/* 스크립트 사용 클래스 정의 */
.mark{
    background-image: url(../images/mark_minus.png) !important ;
    background-repeat: no-repeat;
    background-position: right bottom;
}
.clicked{
    display: block !important;
    border-bottom: 1px solid #d2d2d7;
}
.clicked dd{
    padding: 8px;
}