@charset "utf-8";
@import url(./font.css);
/* CSS 초기화 */
html,
body,
div,
span,
iframe,
h1,h2,h3,h4,h5,h6,
p,
blockquote,
pre,
em,
img,
q,
small,
strong,
sup,
sub,
dl,
dt,
dd,
ol,
ul,
li,
form,
fieldset,
legend,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section,
time,
mark,
audio,
video,
button {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-weight: normal;
    vertical-align: baseline;
}
/* 문서 전체 CSS */
body {
    line-height: 1;
}
/* List 요소 */
ul, ol, li {
    list-style: none;
}
/* A 요소 */
a {
    text-decoration: none;
    color: inherit;
    font-size: 1em;
    vertical-align: baseline;
    background: none;
}
/* img 요소 */
img {
    vertical-align: top;
}
/* hr 요소 */
hr {
    margin: 0;
    padding: 0;
    border: 0;
}
/* button 요소 */
button {
    background: none;
}
/* 박스 사이징 */
* {
    box-sizing: border-box;
}
/* 플롯 해제 */
.cf::after {
    content: "";
    display: block;
    clear: both;
}
/* 마진, 패딩, 보더 초기화 */
.no_mt { margin-top: 0 !important;}
.no_mr { margin-right: 0 !important;}
.no_mb { margin-bottom: 0 !important;}
.no_ml { margin-left: 0 !important;}

.no_pt { padding-top: 0 !important;}
.no_pr { padding-right: 0 !important;}
.no_pb { padding-bottom: 0 !important;}
.no_pl { padding-left: 0 !important;}

.no_bdt { border-top: none !important;}
.no_bdr { border-right: none !important;}
.no_bdb { border-bottom: none !important;}
.no_bdl { border-left: none !important;}

/* 모든 환경에 안보여도 되지만, 반드시 입력해야할 html태그가 존재(웹접근성 때문에) */
/* 그때, 해당 요소를 숨기기 위해 사용되는 class */
.blind {
    position: absolute;
    left: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
}

/* 반응형 템플릿 CSS 추가 */
input, textarea{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
}