@charset "utf-8";
body{
    /* font-size: 1rem; */
    font-size: 1.125rem;
    font-family: "Noto Serif KR", serif;
    color: #39313c;
    line-height: 1.875;
    background: white;
}
/* 공통 클래스 */
.wrapper{
    width: 100%;
    margin: 0 auto;
}

/* Header */
h1{
    font-size: 3.75rem;
    line-height: 1;
    margin-bottom: 1em;
}
p span{
    font-size: 1.875rem;
}
header .wrapper{
    background: url(../images/bg01.jpg) 4.16667% center no-repeat;
    background-size: 33.33333% auto;
    padding: 10% 4.16667% 10% 41.6667%;
} 
/* 각 Section */
#store_1 .wrapper{
    background: url(../images/bg02.jpg) 4.16667% center no-repeat;
    background-size: 33.33333% auto;
    padding: 10% 4.16667% 10% 41.6667%;
}
#store_2 .wrapper{
    background: url(../images/bg03.jpg) 4.16667% center no-repeat;
    background-size: 33.33333% auto;
    padding: 10% 4.16667% 10% 41.6667%;
}
#store_3 .wrapper{
    background: url(../images/bg04.jpg) 4.16667% center no-repeat;
    background-size: 33.33333% auto;
    padding: 10% 4.16667% 10% 41.6667%;
}

/* Footer */
footer{
    background-color: #79a830;
    text-align: center;
    padding: 4.1667% 3,3333%;
}

/* 패럴렉스 CSS */
/* 각각의 박스 영역뒤에 가상요소 ::after 사용하여 공간을 만든 후 배경이미지 고정 */
header::after, section::after{
    content: "";
    display: block;
    width: 100%;
    height: 400px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    /* 공통 배경이미지 속성 */
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}
/* 패럴렉스 배경이미지 추가 */
header::after{
    background-image: url(../images/bg01.jpg);
}
#store_1::after{
    background-image: url(../images/bg02.jpg);
}
#store_2::after{
    background-image: url(../images/bg03.jpg);
}
#store_3::after{
    background-image: url(../images/bg04.jpg);
}